<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
       
        .main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
            background-color: black;
            color: white;
            margin-top: 100px;
            padding: 50px 50px;
        }
        .main1
        {
            background-color: black;
            color: white;
            text-align: center;
            padding: 50px 50px;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="f1">
            <h4>Connect with us </h4>
            <h4>on social media</h4>

        </div>
        <div class="f2">
            <h4>Resume</h4>
            <p>Templets</p>
          <p>Create Resume</p>
        </div>
        <div class="f3">
            <h4>Company</h4>
            <p>Post Jobs</p>
        
        </div>
        <div class="f4">
            <h4>Jobs</h4>
            <p>View Jobs</p>
            <p>Search Jobs</p>
            <p>Apply Jobs</p>

        </div>
        <div class="f5">
            <h4>Download</h4>
            <p>PDF</p>
            <p>Word</p>
            <p>QR Code</p>
        </div>
        <div class="f6">
            <h4>Resume Builder</h4>
            <img src="" alt="">
            <h4>Open Your Phone</h4>
        </div>
    </div>

    <div class="main1">
        <h4>Copyright 2023 - Resume Builder</h4>
    </div>
</body>
</html>