<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  
    <title>Home</title>
    
    <!-- Bootstrap core CSS -->
    {% comment %} <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
  
  
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %} ">
    <link rel="stylesheet" href="{% static 'css/templa.css' %} ">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %} ">
  </head
  <body>
     <body>
     
       <!-- ***** Header Area Start ***** -->
      {% include 'navbar.html' %}
       <!-- ***** Header Area End ***** -->
       <style>
        
.main-banner1 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 345px 0px 130px 0px;
  position: relative;
  overflow: hidden;
}

.main-banner1:after {
  content: '';
  background-image: url(static/images/banner-left-image.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 267px;
  height: 532px;
}

.main-banner1:before {
  content: '';
  background-image: url(static/images/banner-right-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 100px;
  width: 819px;
  height: 674px;
}

.main-banner1 .item {
  margin-right: 45px;
}

.main-banner1 .item h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ff695f;
  margin-bottom: 15px;
}

.main-banner1 .item h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
}

.main-banner1 .item h2 em {
  color: #03a4ed;
  font-style: normal;
}

.main-banner1 .item h2 span {
  color: #ff695f;
}

.main-banner1 .item p {
  margin: 20px 0px;
}

.main-banner1 .item .down-buttons {
  display: inline-flex;
}

.main-banner1 .item .down-buttons .call-button i {
  margin-right: 5px;
  width: 46px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background: rgb(255,104,95);
  background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
  color: #fff;
  font-size: 20px;
}

.main-banner1 .item .down-buttons .call-button a {
  color: #ff695f;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
}

.main-banner1 .owl-dots {
  margin-top: 60px;
  counter-reset: dots;
}

.main-banner1 .owl-dot:before {
  counter-increment:dots;
  content: counter(dots);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  color: #2a2a2a;
  width: 15px;
  display: inline-block;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: all .5s;
}

.main-banner1 .active:before {
  color: #ff685f;
  border-bottom: 3px solid #ff685f;
}

       </style>
       <div class="main-banner1" id="top">
         <div class="container">
           <div class="row">
             <div class="col-lg-12">
               <div class="row">
                 <div class="col-lg-6 align-self-center">
                   <div class="owl-carousel owl-banner">
                     <div class="item header-text">
                       <h6>Welcome to Resume Builder</h6>
                       <h2>Build <em>your Resume</em> the <span>best.</span></h2>
                       <p>This is a professional looking Resume Template in website free to you by Resume Builder website.</p>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     
       <div id="services" class="our-services section">
         <div class="services-right-dec">
           <img src="{% static 'images/services-right-dec.png' %}" alt="">
         </div>
         <div class="container">
           <div class="services-left-dec">
             <img src="{% static 'images/services-left-dec.png' %}" alt="">
           </div>
           <div class="row">
             <div class="col-lg-6 offset-lg-3">
               <div class="section-heading">
                 <h2>We <em>Provide</em> The Best Service With <span>Our Tools</span></h2>
                 <span>Our Services</span>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="col-lg-12">
               <div class="owl-carousel owl-services">
                 <div class="item">
                   <h4>Cretae a Free Resume.</h4>
                   <div class="icon"><img src="{% static 'images/resume_icon.png' %}" alt=""></div>
                   <p>Feel free to use this template for your Resume</p>
                 </div>
                 <div class="item">
                   <h4>Develop The Best Resume for Interview</h4>
                   <div class="icon"><img src="{% static 'images/job_icon.png' %}" alt=""></div>
                   <p>Get highe paying jobs to our resume</p>
                 </div>
                 <div class="item">
                   <h4>New Design and Template</h4>
                   <div class="icon"><img src="{% static 'images/design.png' %}" alt=""></div>
                   <p>Professional looking resume.</p>
                 </div>
                 <div class="item">
                   <h4>Discover &amp; Explore Jobs in Website</h4>
                   <div class="icon"><img src="{% static 'images/explore.png' %}" alt=""></div>
                   <p>Feel free to use this template for your business</p>
                 </div>
                 <div class="item">
                   <h4>Optimizing your resume for Speed</h4>
                   <div class="icon"><img src="{% static 'images/speed.png' %}" alt=""></div>
                   <p>Fast &amp; free to Cretae a resume.</p>
                 </div>
                 <div class="item">
                   <h4>Download</h4>
                   <div class="icon"><img src="{% static 'images/download.png' %}" alt=""></div>
                   <p>Download your resume in defferent formate.</p>
                 </div>
                 <div class="item">
                   <h4>Jobs</h4>
                   <div class="icon"><img src="{% static 'images/company.png' %}" alt=""></div>
                   <p>Find your dream jobs, and true your dream.</p>
                 </div>
                 <div class="item">
                   <h4>UI &amp; UX Design &amp; Development</h4>
                   <div class="icon"><img src="{% static 'images/service-icon-03.png' %}" alt=""></div>
                   <p>Get to know more about the topic in details</p>
                 </div>
                 <div class="item">
                   <h4>Discover the digital marketing trend</h4>
                   <div class="icon"><img src="{% static 'images/service-icon-04.png' %}" alt=""></div>
                   <p>Get to know more about the topic in details</p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     
       <div id="about" class="about-us section">
         <div class="container">
           <div class="row">
             <div class="col-lg-6 align-self-center">
               <div class="left-image">
                 <img src="{% static 'images/about-left-image.png' %}" alt="Two Girls working together">
               </div>
             </div>
             <div class="col-lg-6">
               <div class="section-heading">
                 <h2>Grow your COuriour with our <em>Resume Template</em> &amp; <span>Jobs</span> Post</h2>
                 <p>You can browse free Resume templates. Visit the website and explore latest Resume templates for your Jobs.</p>
                 <div class="row">
                   <div class="col-lg-4">
                     <div class="fact-item">
                       <div class="count-area-content">
                         <div class="icon">
                           <img src="{% static 'images/service-icon-01.png' %}" alt="">
                         </div>
                         <div class="count-digit">59</div>
                         <div class="count-title">Template</div>
                         <p>Best resume template for a best company.</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-lg-4">
                     <div class="fact-item">
                       <div class="count-area-content">
                         <div class="icon">
                           <img src="{% static 'images/service-icon-02.png' %}" alt="">
                         </div>
                         <div class="count-digit">100+</div>
                    <div class="count-title">Jobs</div>
                    <p>100+ jobs in our website.</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-lg-4">
                     <div class="fact-item">
                       <div class="count-area-content">
                         <div class="icon">
                           <img src="{% static 'images/service-icon-03.png' %}" alt="">
                         </div>
                         <div class="count-digit">100+</div>
                         <div class="count-title">Satisfied Candidate</div>
                         <p>100+ candidate have grap a job.</p>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     
       <div id="portfolio" class="our-portfolio section">
         <div class="portfolio-left-dec">
           <img src="{% static 'images/portfolio-left-dec.png' %}" alt="">
         </div>
         <div class="container">
           <div class="row">
             <div class="col-lg-6 offset-lg-3">
               <div class="section-heading">
                 <h2>Most Uses <em>Template</em> <span>for Users</span></h2>
                 <span>Template</span>
               </div>
             </div>
           </div>
         </div>
         <div class="container-fluid">
           <div class="row">
             <div class="col-lg-12">
               <div class="owl-carousel owl-portfolio">
                
                {% for i in template %}

                <div class="item">
                  <div class="thumb">
                    <img src="{{i.t_img.url}}" alt="">      
                  </div>
                </div>
                
                {% endfor %}
                </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     

      
     
      
     
       <div id="contact" class="contact-us section">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="section-heading">
                <h2>Feel free to <em>Contact</em> us via the <span>form</span></h2>
                <div class="info">
                  <span><i class="fa fa-envelope"></i> <a class="l" href="#">resume.io.24@outlook.com</a></span>
                  <span><i class="fa fa-envelope"></i> <a class="l" href="#">mdtech2224@gmail.com</a></span>
                </div>
              </div>
            </div>
            <div class="col-lg-5 align-self-center">
              <form id="contact" action="" method="get">
                <div class="row">
                  <div class="col-lg-12">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button">Submit Request</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="contact-dec">
          <img src="{% static 'images/contact-dec.png' %}" alt="">
        </div>
        <div class="contact-left-dec">
          <img src="{% static 'images/contact-left-dec.png' %}" alt="">
        </div>
      </div>
     
      
     
       
       {% include 'footer.html' %}
     
     
       <!-- Scripts -->
       <script src="{% static 'vendor/jquery/jquery.min.js' %} "></script>
       <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
       <script src="{% static 'js/owl-carousel.js' %}"></script>
       <script src="{% static 'js/animation.js' %}"></script>
       <script src="{% static 'js/imagesloaded.js' %}"></script>
       <script src="{% static 'js/custom.js' %}"></script>
       <script>
       // Acc
         $(document).on("click", ".naccs .menu div", function() {
           var numberIndex = $(this).index();
     
           if (!$(this).is("active")) {
               $(".naccs .menu div").removeClass("active");
               $(".naccs ul li").removeClass("active");
     
               $(this).addClass("active");
               $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");
     
               var listItemHeight = $(".naccs ul")
                 .find("li:eq(" + numberIndex + ")")
                 .innerHeight();
               $(".naccs ul").height(listItemHeight + "px");
             }
         });
       </script>
     </body>
     </html>
  </body>
</html>